<div id="home">
  <div>
    <h1>Unify . Celebrate . Experience</h1>
    <p>Ignite your passion for unforgettable experiences. Explore a vibrant world of events, connect with like-minded individuals, and create lasting memories. Your journey starts here.</p>
  </div>
  <div>
    <img src="/Images/baloon.svg" alt="">
  </div>
</div>
